<%= form_with scope: :repositories, method: :get, local: true, class: 'search-input' do |form| %>
  <%= form.label :q, class: 'hidden' %>
  <%= form.text_field :q, placeholder: 'Search..' %>
<% end %>

<h3><%= @total_count %> repository results</h3>
 
<ul>
  <% @repos.each do |repo| %>
    <li class='item'>
      <div>
        <h3><%= link_to repo['full_name'], repo['html_url'] %></h3>
      </div>
      <div><%= repo['description'] %></div>
    </li>
  <% end %>
</ul>
